[Desktop Entry]
Name=ZmRef
Comment=Minimalist Reference Image Viewer
Exec=/opt/zmref/ZmRef-1.0.0.AppImage %U
Terminal=false
Type=Application
Icon=zmref
StartupWMClass=zmref
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/jpg;image/webp;image/gif;image/svg+xml;
Keywords=reference;images;canvas;organizer;
